.UI-Loading {
    position: absolute;
    font-size: 0px;
    left: 50%;
    top: 50%;
    height: 10px;
    width: 70px;
    margin-left: -35px;
    margin-top: -65px;
}
.UI-Loading li {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.9;
}
.UI-Loading li.red {
    background-color: #f75c50;
    left: 30px;
    animation: red 2.2s linear;
    animation-iteration-count: infinite;
}
.UI-Loading li.yellow {
    background-color: #ffdb32;
    left: 30px;
    animation: yellow 2.2s linear;
    animation-iteration-count: infinite;
}
.UI-Loading li.green {
    background-color: #bfe962;
    left: 30px;
    animation: green 2.2s linear;
    animation-iteration-count: infinite;
}
@keyframes red {
    0% {
      left: 0px;
    }
    16% {
      left: 30px;
    }
    33% {
      left: 30px;
    }
    49% {
      left: 30px;
    }
    66% {
      left: 60px;
    }
    /*83% {
          left: 100px;
      }*/
    100% {
      left: 0px;
    }
}
@keyframes yellow {
    0% {
      left: 30px;
    }
    16% {
      left: 30px;
    }
    33% {
      left: 60px;
    }
    /*49% {
          left: 100px;
      }*/
    66% {
      left: 0px;
    }
    83% {
      left: 30px;
    }
    100% {
      left: 30px;
    }
}
@keyframes green {
    0% {
      left: 60px;
    }
    /*16% {
          left: 100px;
      }*/
    33% {
      left: 0px;
    }
    49% {
      left: 30px;
    }
    66% {
      left: 30px;
    }
    83% {
      left: 30px;
    }
    100% {
      left: 60px;
    }
}
