.panel-header {
    min-width: 1114px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 70px;
    height: 67px;
    background-color: #fff;
    overflow: visible;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.panel-header.print {
    display: none;
}
.panel-header.leave {
    position: absolute;
    top: -67px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.panel-header.fixed {
    position: fixed;
    top: 0px;
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    /**��Ҫ�� all����Ϊ left ֵ���� js ��̬�ı䣬����Ҫ����*/
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.panel-header.fixed.slide-up {
    top: -67px;
    transition-duration: 0.2s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.panel-header .logo {
    display: inline-block;
    width: 182px;
    height: 35px;
    padding: 16px 0;
    cursor: pointer;
}
.panel-header .logo img {
    width: 100%;
    height: 100%;
}
.panel-header .navigation {
    position: absolute;
    right: 70px;
    top: 0;
    color: #34495e;
    min-width: 750px;
    text-align: right;
}
.panel-header .navigation .search {
    display: inline-block;
    border-bottom: none;
    height: 67px;
    line-height: 67px;
    width: 170px;
    white-space: nowrap;
    font-size: 14px;
}
.panel-header .navigation .search input {
    position: relative;
    z-index: 10;
    display: inline-block;
    height: 31px;
    width: 106px;
    line-height: 31px;
    padding: 0 15px 0 30px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    background: #fff url(../img/search.png) 8px 5px no-repeat;
    background-size: 14px;
    background-position: 10px 50%;
    box-shadow: 0px 0px 0px 1px transparent;
    color: #999;
    transition: all 0.2s linear;
}
.panel-header .navigation .search .sbtn {
    position: relative;
    z-index: 10;
    background-color: #fff;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    height: 31px;
    line-height: 31px;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px solid #ddd;
    transition: all 0s linear;
    cursor: pointer;
}
.panel-header .navigation > ul {
    position: relative;
    z-index: 9;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s linear;
}
.panel-header .navigation > ul li {
    position: relative;
    height: 31px;
    margin: 18px 10px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 0px;
    /*z-index: 3;*/
    /*����Դ������ͼʱ��ʱ���� header ���������ǵ�����*/
}
.panel-header .navigation > ul li span {
    font-size: 14px;
}
.panel-header .navigation > ul li:hover {
    border-bottom: 1px solid rgba(107, 179, 221, 0.81);
}
.panel-header .navigation > ul li.on {
    color: #6bb3dd;
    border-bottom: 3px solid rgba(107, 179, 221, 0.81);
}
.panel-header .navigation > ul li.group {
    font-size: 14px;
    transition: all 0.5s linear;
}
.panel-header .navigation > ul li.group.on {
    border-bottom: none;
}
.panel-header .navigation > ul li.group.on span::after {
    transform: rotate(-180deg);
    margin-top: -6px;
}
.panel-header .navigation > ul li.group.on .dropdown {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s linear;
}
.panel-header .navigation > ul li.group span {
    position: relative;
}
.panel-header .navigation > ul li.group span::after {
    content: '';
    display: inline-block;
    margin-left: 4px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transition: all 0.5s ease-in-out;
}
.panel-header .navigation > ul li.group .dropdown {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding-top: 30px;
}
.panel-header .navigation > ul li.group .dropdown .detail {
    position: relative;
    transition: all ease-in-out 0s;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    list-style: none;
    text-align: left;
    padding: 10px 0;
}
.panel-header .navigation > ul li.group .dropdown .detail::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -14px;
    right: 10px;
    left: auto;
    height: 0px;
    width: 0px;
    border: 7px solid transparent;
    border-bottom-color: #ddd;
}
.panel-header .navigation > ul li.group .dropdown .detail::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -13px;
    right: 10px;
    left: auto;
    height: 0px;
    width: 0px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
}
.panel-header .navigation > ul li.group .dropdown .detail li {
    line-height: 30px;
    height: 30px;
    margin: 0;
    border: none;
    color: #7f8c8d;
    font-size: 13px;
    display: block;
    padding: 0 30px 0 20px;
    text-decoration: none;
}
.panel-header .navigation > ul li.group .dropdown .detail li:hover {
    color: #fff;
    background-color: #4078c0;
    text-decoration: none;
}
.panel-header.focus .navigation .search {
    position: relative;
}
.panel-header.focus .navigation .search input {
    z-index: 10;
    width: 200px;
    border: 0.7px solid rgba(107, 179, 221, 0.81);
    transition: all 0.2s linear;
}
.panel-header.focus .navigation .search .sbtn {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s linear;
    transition-delay: 0.2s;
}
.panel-header.focus .navigation ul {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}
