
/.svn

/bin/config
/bin/node_modules
/bin/build.js
/bin/open.js
/bin/qr.js
/bin/watch.js

/build

/htdocs/style/css
/htdocs/index.html
/htdocs/data-house
/htdocs/data-kisp
/htdocs/data-resume
/htdocs/data/weber
/htdocs/data/house

