

[data-panel="/Footer"] {
    &.print {
        display: none;
    }

    position: absolute;
    left: 52px;
    right: 52px;
    bottom: 0;
    padding: 18px 0;
    line-height: 20px;
    height: 20px;
    border-top: 1px solid #ccc;
    background: #fff;
    display: flex;
    font-size: 12px;
    font-family: "Helvetica Neue",Verdana;



    .contact {
        position: absolute;
        left: 0;
        color: #61676c;
        font-size: 0;

        li {
            display: inline-block;
            text-align: center;
            padding: 0 6px;
            border-right: 1px solid #ccc;
            font-size: 12px;
            cursor: pointer;




            &:hover {
                color: #61a7e5;
                text-decoration: underline;
            }

            &:last-child {
                border: none;
            }
        }
    }

    .copyright {
        flex: 1;
        text-align: center;
        color: #7f878d;

        a {
            color: #7f878d;

            &:hover {
                color: #61a7e5;
                text-decoration: underline;
            }
        }
    }

    .share {
        position: absolute;
        right: 0;

        li {
            float: right;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            display: inline-block;
            line-height: 0;

            img {
                padding: 3px 5px;
                height: 14px;
                width: 14px;
            }
        }
    }
}
