.panel-fixed-menus {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
    z-index: 1024;
    font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;
}
.panel-fixed-menus:hover {
    background-color: rgba(0, 0, 0, 0.75);
    transition: background linear 0.6s;
}
.panel-fixed-menus li {
    width: 38px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.03);*/
}
.panel-fixed-menus li:last-child {
    border-bottom: none;
}
.panel-fixed-menus .top .describe {
    display: none;
}
.panel-fixed-menus .top .arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-width: 2px 2px 0 0;
    margin-top: 15px;
    border-color: #fff;
    border-style: solid;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.panel-fixed-menus .top:hover .arrow {
    display: none;
}
.panel-fixed-menus .top:hover .describe {
    display: inline-block;
}
.panel-fixed-menus .home {
    background: url('../img/home.png') no-repeat;
}
.panel-fixed-menus .outline {
    background: url('../img/menu.png') no-repeat;
}
.panel-fixed-menus .home,
.panel-fixed-menus .outline {
    background-position: 50%;
    background-size: 25px;
}
.panel-fixed-menus .home .describe,
.panel-fixed-menus .outline .describe {
    display: none;
}
.panel-fixed-menus .home:hover,
.panel-fixed-menus .outline:hover {
    background: none;
}
.panel-fixed-menus .home:hover .describe,
.panel-fixed-menus .outline:hover .describe {
    display: inline-block;
}
