.UI-nofound {
    font-size: 30px;
    position: relative;
    display: block;
    border: 1px solid #fff;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-60%);
    padding: 20px 0;
    min-height: 360px;
}
.UI-nofound .animal {
    position: relative;
    height: 100px;
}
.UI-nofound .animal .mouse {
    border-bottom: 0.1em solid #434a54;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -40%);
}
.UI-nofound .animal .mouse::before {
    background: #434a54;
    border-radius: 50%;
    content: "";
    position: absolute;
    width: 3em;
    height: 3em;
    left: -1em;
    top: -1.2em;
    transform: skewX(-4deg);
    animation: blink 6s infinite;
}
.UI-nofound .animal .mouse::after {
    background: #434a54;
    border-radius: 50%;
    content: "";
    position: absolute;
    width: 3em;
    height: 3em;
    right: -1em;
    top: -1.2em;
    transform: skewX(4deg);
    animation: blink 6s 0.1s infinite;
}
.UI-nofound .animal .mouse::before {
    background: linear-gradient(to bottom, #efefef, #efefef 50%, #434a54 50%, #434a54);
    background-position: 0 -100%;
    background-size: 200%;
}
.UI-nofound .animal .mouse::after {
    background: linear-gradient(to bottom, #efefef, #efefef 50%, #434a54 50%, #434a54);
    background-position: 0 -100%;
    background-size: 200%;
}
.UI-nofound .text {
    text-align: center;
}
.UI-nofound .text .number {
    font-size: 50px;
    color: #434a54;
    margin: 2rem auto;
}
.UI-nofound .text .circle {
    border: 3px solid #434a54;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    height: 1rem;
    width: 5rem;
    margin: 2rem auto;
    background-color: #fff;
}
.UI-nofound .text .info {
    padding: 10px 0;
    font-style: italic;
    font-size: 20px;
}
.UI-nofound .text .detail {
    font-size: 14px;
    color: #999;
}
@keyframes blink {
    0% {
      background-position: 0 100%;
    }
    75% {
      background-position: 0 30%;
    }
    100% {
      background-position: 0 100%;
    }
}
