

.panel-main {
    &.print {
        padding-right: initial !important;
    }

    flex: 1;
    position: relative;
    min-width: 750px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 52px 0 52px;
    box-sizing: content-box;
    word-wrap: break-word;
    background: #fff;
    min-height: calc(100vh - 68px);

    &.source {
        max-width: none;
        padding: 0;
        margin: 0;

        /*.source-code {
            background: none;

            > span {
                display: none;
            }
        }*/

        .contact {
            padding-left: 0px;
        }

        .share {
            padding-right: 0px;
        }

        .show {
            padding-top:0;
        }
    }

    &.no-comment {
        .hljs-comment {
            display: none;
        }
    }
    /**Òþ²ØÐÐºÅºó*/
    &.no-numbers {
        .line-numbers {
            display: none;
        }

        pre {
            margin-left: 5px !important;
        }
    }



    .current-line {
        width: 100%;
        height: 20px;
        border: solid 2px #EAEAF2;
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        background: none;
        cursor: text;
        pointer-events: none;
        border-radius: 3px;
        box-sizing: border-box;
        /*margin-left: 60px;*/
        /*background: rgba(0, 0, 0, 0.05);*/
    }
}
