.panel-sidebar {
    position: relative;
    width: 200px;
    padding-left: 60px;
    height: calc(100vh - 90px);
}
.panel-sidebar.print {
    display: none;
}
.panel-sidebar.fixed .head {
    position: fixed;
    left: 70px;
    top: 0px;
}
.panel-sidebar.fixed .groups {
    position: fixed;
    top: 67px;
    width: 190px;
}
.panel-sidebar .head {
    height: 67px;
    padding: 16px 0;
    width: 182px;
    overflow: hidden;
}
.panel-sidebar .head img {
    width: 100%;
    height: 35px;
}
.panel-sidebar .head a {
    font-size: 28px;
    text-decoration: none;
    color: #000;
}
.panel-sidebar .groups {
    position: absolute;
    top: 0px;
    left: 60px;
    right: 0;
    bottom: 0;
    text-align: left;
    font-size: 14px;
    background-color: #fff;
    margin: 0px 0px 10px 10px;
    padding-top: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
    /*&:hover::-webkit-scrollbar-track {
              border-radius: 0px;
              background:#fff;
          }*/
}
.panel-sidebar .groups .title {
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #4b4b4b;
    /*color: #868d93;*/
    padding: 5px 0px 5px 0px;
    font-size: 15px;
    cursor: pointer;
}
.panel-sidebar .groups .title i {
    float: right;
    margin-right: 5px;
    color: #e4e4e4;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all linear;
}
.panel-sidebar .groups .title i.fa-angle-double-up {
    color: #999;
}
.panel-sidebar .groups .title i.fa-angle-double-down {
    color: #999;
}
.panel-sidebar .groups .title:hover {
    /*background: #eee;*/
    color: #c7254e;
}
.panel-sidebar .groups .title:hover i {
    opacity: 1;
    visibility: visible;
}
.panel-sidebar .groups ul .item {
    font-size: 13px;
    cursor: pointer;
    text-shadow: 0 1px 0 #fff;
    height: 20px;
    margin: 6px 0;
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-box-align: center;
    display: -webkit-box;
    color: #999;
    /*color: #61676c;*/
    font-weight: 500;
    padding-bottom: 20px;
    margin-right: 5px;
    transition: all 0.3s linear;
}
.panel-sidebar .groups ul .item a {
    text-decoration: none;
    position: relative;
}
.panel-sidebar .groups ul .item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: rgba(107, 179, 221, 0.81);
    visibility: hidden;
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.panel-sidebar .groups ul .item a:hover {
    color: rgba(107, 179, 221, 0.81);
}
.panel-sidebar .groups ul .item a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.panel-sidebar .groups ul .item.on {
    color: #6bb3dd;
    font-weight: 700;
    border-right: 2px solid #6bb3dd;
}
.panel-sidebar .groups::-webkit-scrollbar {
    width: 2px;
}
.panel-sidebar .groups::-webkit-scrollbar-thumb {
    border-radius: 5px;
    /*background: #fff;*/
    transition: all 1s linear;
}
.panel-sidebar .groups:hover::-webkit-scrollbar-thumb {
    background: rgba(240, 240, 240, 0.8);
}
