

.panel-main .content {
    margin-bottom: 70px;
    opacity: 0.2;
    /*visibility: hidden;*/
    /*padding-top: 0px;*/

    &.show {
        opacity: 1;
        /*visibility: visible;*/
        transition: 0.25s all linear;
        padding-top: 12px;
    }

    &.loading {
        text-align: center;

        .container {
            display: none;
        }
    }

    .title > span {
        cursor: pointer;
        color: #000;

        &:hover {
            color: #4183c4;
            color: #FF9800;
            color: #5e6c7d;
            text-decoration: none;
        }
    }
}
